<div>
<img src="{{landmark.image}}">
<h1>Location of Landmark:</h1><h2> {{landmark.name}}</h2>
<h2>Name of Landmark:</h2> {{landmark.landmarkName}}
<h2>Landmark Description: {{landmark.description}}</h2>




</div>