<h1>Kia Ora</h1>

<div class="dropdown">
  <button class="dropbtn">Pick your destination</button>
  <div class="dropdown-content">
    {{each}}
  
    <a href="/view/" + {{id}}>{{name}}</a>
    {{/each}}
  </div>
<img src="/images/images/welcometoNZ.jpg" alt="welcome to NZ">

</div>