<div class="city">
    <h1>Cities:</h1>
    <ul>
        {{#each cityList}}
        <li> <a href ="/view/{{id}}">{{name}}</a></li>
        {{/each}}
    </ul>
</div>

{{!-- <button><a href = '/'>Current assignments</a></button> --}}
<br>
<br>


